body, html {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}

.transparent {
  opacity: 0.5;
}

.load-all-images {
  display: none;
}

.main.row, .dices, .button.row, .score.row, .player, .welcome.row, .reset.row {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity ease-out 1.2s;
}

button {
  padding: 10px 20px;
  padding-font-size: 1.5rem;
  text-transform: lowercase;
  background-color: #fff;
  color: #5B6057;
}

#op-dicee-challenge {
  background-color: #5B6057;
}
#op-dicee-challenge div.disabled, #op-dicee-challenge div.special-disabled {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  transition: visibility 0s, opacity ease-out 1.2s;
  overflow: hidden;
}
#op-dicee-challenge div.disabled img, #op-dicee-challenge div.special-disabled img {
  width: 0;
  height: 0;
}
#op-dicee-challenge .container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#op-dicee-challenge .welcome-players {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #fff;
  padding-top: 50px;
}
#op-dicee-challenge .welcome-players h2 {
  margin-bottom: 0;
  font-size: 2rem;
}
#op-dicee-challenge .welcome-players .explanation {
  padding: 0 1rem;
  margin-bottom: 2rem;
}
#op-dicee-challenge .welcome-players .namesInputs {
  margin-bottom: 2rem;
}
#op-dicee-challenge .welcome-players .namesInputs .input-group {
  margin-bottom: 1rem;
}
#op-dicee-challenge .welcome-players .namesInputs .input-group p.label {
  font-size: 0.9rem;
  margin-bottom: 0;
  text-align: center;
}
#op-dicee-challenge .welcome-players .namesInputs .input-group.limit {
  margin-top: 2rem;
}
#op-dicee-challenge .welcome-players .namesInputs .input-group.limit input {
  margin-left: 1rem;
}
#op-dicee-challenge .welcome-players .namesInputs label {
  font-weight: 700;
  font-size: 0.9rem;
}
#op-dicee-challenge .welcome-players .namesInputs input {
  border-radius: 5px;
  border-color: #9a9a9a;
  color: #555;
  padding: 5px;
}
#op-dicee-challenge .welcome-players .error {
  font-size: 0.9rem;
}
#op-dicee-challenge .welcome-players button {
  margin-bottom: 1rem;
}
#op-dicee-challenge header {
  margin-bottom: 1rem;
  opacity: 0.8;
  position: absolute;
  top: 50px;
  text-align: center;
}
#op-dicee-challenge header h1 {
  color: #81F0E5;
  font-size: 1.1rem;
  letter-spacing: -1px;
  display: inline;
  background-color: rgba(255, 255, 255, 0.9);
}
#op-dicee-challenge .row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#op-dicee-challenge .main.row {
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  padding-top: 50px;
}
#op-dicee-challenge .button.row {
  justify-content: center;
}
#op-dicee-challenge #rollTheDice {
  font-size: 1.3rem;
}
#op-dicee-challenge .score.row {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#op-dicee-challenge .reset.row {
  justify-content: center;
  align-items: center;
}
#op-dicee-challenge .reset.row button {
  background-color: #5B6057;
  border: 2px solid #fff;
  color: #fff;
}
#op-dicee-challenge .player {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1rem;
  text-align: center;
  color: #fff;
}
#op-dicee-challenge .player .playerName {
  font-weight: bold;
}
#op-dicee-challenge .player .score {
  font-size: 0.8rem;
}
#op-dicee-challenge .dices {
  width: 35%;
  display: flex;
}
#op-dicee-challenge .dices .dice {
  padding: 1rem;
  width: 50%;
  text-align: center;
  opacity: 0.7;
  border: 2px solid #fff;
  color: #fff;
}
@media screen and (max-width: 568px) {
  #op-dicee-challenge .dices .dice {
    padding: 5px;
  }
}
#op-dicee-challenge .dices .dice figure {
  max-width: 80%;
  margin: 0 auto;
}
#op-dicee-challenge .dices .dice figure img {
  width: 140px;
  height: auto;
  max-width: 100%;
}
#op-dicee-challenge .dices .dice1 {
  border-right-width: 1px;
}
#op-dicee-challenge .dices .dice2 {
  border-left-width: 1px;
}
#op-dicee-challenge .keep-score {
  overflow-y: scroll;
  height: 140px;
  max-height: 140px;
  width: 80%;
  background-color: #fff;
  color: #5B6057;
  padding: 15px;
  opacity: 0.5;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
#op-dicee-challenge .keep-score .outputs {
  padding-bottom: 10px;
}
#op-dicee-challenge h2 {
  margin-bottom: 0;
  margin-top: 0;
}
#op-dicee-challenge p.game-limit {
  margin-top: 0;
}
#op-dicee-challenge .game-over {
  height: 100px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#op-dicee-challenge .game-over.special-disabled {
  width: 0;
}
#op-dicee-challenge .game-over h2 {
  text-align: center;
  color: #fff;
}

/*# sourceMappingURL=app.css.map */
